// Enable Docker
docker {
  enabled = true
  runOptions = "-u \$(id -u):\$(id -g)"
}

// Global parameters
params {
  input  = './data/*'       // default input files pattern
  outdir = './results'      // default output directory
}

// Process-specific configuration
process {
  executor = 'local'

  withName: DAILY_STATS {
    cpus   = 1
    memory = '2 GB'
  }

  withName: CHARACTERIZE {
    cpus   = 1
    memory = '2 GB'
  }
}
